@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
body{
    font-family: 'montserrat light',sans-serif;
    margin: 0px;
    margin-top: 60px;
}



body h1{
    margin: 0px; 
    margin: 50px 0px;
    padding: 20px;
}

#main-header{
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    background: rgba(255, 209, 209,0.9);
    top: 0px;
}

#main-header::before{
    content: "";
    display: block;
    width: 300px;
    height: 20px;
    background: rgb(204, 62, 62);
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: -1;
}

a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: blue;
}

h1{
    display: inline;
}
#site-title{
    font-family: 'russo one',sans-serif;
}
#top-stories{
    width: 1000px;
    margin: auto;
    
}
article{
    max-width: 31%;
    display: inline-block;
    padding: 10px;
    transition: box-shadow 0.5s, background 0.5s;

}

article:hover{
    box-shadow: 10px 5px 20px rgba(0,0,0,0.7) ;
    background: rgb(212, 151, 151);
}

.article-img{
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}


.myInput{
    display: block;
    width: 75%;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 3px;
    border: 0.5px solid grey;
}

.myInput:focus{
    background: rgb(247, 247, 247);
    outline: none;
}

article:active{
    opacity: 0.5;
}

.paragraph{
    max-width: 99%;
    margin: auto;
    height: 600px;
    max-height: 270px; 
    overflow: scroll;
    border: 2px solid black;
    overflow-x: hidden;
}